<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>成功</string>
	<key>1</key>
	<string>系统错误</string>
	<key>4</key>
	<string>非法访问</string>
	<key>5</key>
	<string>无效token</string>
	<key>20</key>
	<string>用户不存在</string>
	<key>21</key>
	<string>用户已经存在</string>
	<key>22</key>
	<string>用户状态已经改变</string>
	<key>100</key>
	<string>验证码获取太频繁</string>
	<key>101</key>
	<string>验证码获取次数限制</string>
	<key>102</key>
	<string>验证码错误</string>
	<key>103</key>
	<string>密码错误</string>
	<key>104</key>
	<string>第一次登录需要设置密码</string>
	<key>105</key>
	<string>不是子级行政区划</string>
	<key>106</key>
	<string>身份证已经存在</string>
	<key>500</key>
	<string>action 不存在</string>
	<key>501</key>
	<string>app不存在</string>
	<key>502</key>
	<string>已经提交代理申请</string>
	<key>503</key>
	<string>申请不存在</string>
	<key>504</key>
	<string>已经是雇员了</string>
	<key>505</key>
	<string>手机号已经被占用</string>
	<key>506</key>
	<string>用户拥有的代理商数量达到最大值</string>
	<key>507</key>
	<string>app拥有的代理商数目达到最大值</string>
	<key>508</key>
	<string>代理公司不存在</string>
	<key>509</key>
	<string>雇员不存在</string>
	<key>510</key>
	<string>用户资料缺少</string>
	<key>1000</key>
	<string>employeeId错误或者缺少</string>
	<key>1002</key>
	<string>参数appId错误或者缺少</string>
	<key>1003</key>
	<string>参数type错误或者缺少</string>
	<key>1004</key>
	<string>参数token错误或者缺少</string>
	<key>1005</key>
	<string>参数action错误或者缺少</string>
	<key>1006</key>
	<string>参数name错误或者缺少</string>
	<key>1007</key>
	<string>参数tname错误或者缺少</string>
	<key>1009</key>
	<string>参数mobile错误或者缺少</string>
	<key>1010</key>
	<string>参数avatar错误或者缺少</string>
	<key>1011</key>
	<string>参数tid错误或者缺少</string>
	<key>1012</key>
	<string>参数version错误或者缺少</string>
	<key>1013</key>
	<string>参数captcha错误或者缺少</string>
	<key>1014</key>
	<string>参数identity错误或者缺少
参数identity错误或者缺少
</string>
	<key>1015</key>
	<string>参数region错误或者缺少</string>
	<key>1016</key>
	<string>参数tenantRegion错误或者缺少</string>
	<key>1018</key>
	<string>参数agree错误或者缺少</string>
	<key>1019</key>
	<string>参数client错误或者缺少</string>
	<key>1020</key>
	<string>参数pwd错误或者缺少</string>
	<key>1021</key>
	<string>参数uid错误或者缺少</string>
	<key>1022</key>
	<string>参数id错误或者缺少</string>
	<key>1023</key>
	<string>参数maxTenantsCount错误或者缺少</string>
	<key>1024</key>
	<string>参数modules错误或者缺少</string>
	<key>1025</key>
	<string>参数tenantAddAutonomy错误或者缺少</string>
	<key>1100</key>
	<string>参数page错误或者缺少</string>
	<key>1101</key>
	<string>参数pageSize错误或者缺少</string>
	<key>1200</key>
	<string>参数nonAutoCategory错误或者缺少</string>
</dict>
</plist>
